h1{
    /* font-size: 60px !important; */
    line-height: 1.05em !important;
    max-width: 557px !important;
    /* color: #000; */
    font-weight: 600 !important;
   
}

.hero-fix{
    min-height: 700px!important;
} 